In [53]:
import pandas as pd
import numpy as np

In [54]:
df=pd.read_csv(r"C:\Users\akash\Downloads\LungCapData.csv")       #Loading Dataset
df.head(5)

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [55]:
df.shape

(725, 6)

In [56]:
#Data Cleaning

In [57]:
df.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       0
Caesarean    0
dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LungCap    725 non-null    float64
 1   Age        725 non-null    int64
 2   Height     725 non-null    float64
 3   Smoke      725 non-null    object
 4   Gender     725 non-null    object
 5   Caesarean  725 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

In [59]:
df.Smoke.value_counts()

no     648
yes     77
Name: Smoke, dtype: int64

In [60]:
df.Smoke=df.Smoke.replace({'no':0,'yes':1})    

#here we convert categorical variable into numberical format because machine learning models only understand numerical data.

In [61]:
df.Smoke.value_counts()

0    648
1     77
Name: Smoke, dtype: int64

In [62]:
df.Gender.value_counts()

male      367
female    358
Name: Gender, dtype: int64

In [63]:
df.Gender=df.Gender.replace({'male':0,'female':1})

In [64]:
df.Gender.value_counts()

0    367
1    358
Name: Gender, dtype: int64

In [65]:
df.Caesarean.value_counts()

no     561
yes    164
Name: Caesarean, dtype: int64

In [66]:
df.Caesarean=df.Caesarean.replace({'no':0,'yes':1})

In [67]:
df.Caesarean.value_counts()

0    561
1    164
Name: Caesarean, dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LungCap    725 non-null    float64
 1   Age        725 non-null    int64
 2   Height     725 non-null    float64
 3   Smoke      725 non-null    int64
 4   Gender     725 non-null    int64
 5   Caesarean  725 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 34.1 KB

In [69]:
#Sampling

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
df_train,df_test=train_test_split(df,test_size=.2)

In [72]:
df_train_y = df_train.iloc[:,0]
df_test_y = df_test.iloc[:,0]

In [73]:
df_train_x = df_train.iloc[:,1::]
df_test_x = df_test.iloc[:,1::]

In [74]:
#Building the model

#Import the neccessary function from Skelearn
#create an object of that function
#run the fit function and model is created.
#run the predict functn(prediction will done after this)

In [75]:
from sklearn.linear_model import LinearRegression

In [76]:
linereg =LinearRegression()

In [77]:
linereg.fit(df_train_x,df_train_y)

LinearRegression()

In [78]:
# Rsquare

In [79]:
Rsq=linereg.score(df_train_x,df_train_y)*100
Rsq

85.50163417774496

In [80]:
# Adj Rsq

In [81]:
N = df_train_x.shape[0]
N

580

In [82]:
k=df_train_x.shape[1]
k

5

In [83]:
adjRsq= 1-(1-Rsq) *(N-1) / (N-k-1)
adjRsq

86.23771113051278

In [84]:
linereg.coef_        #Beta 1 ,Beta 2, Beta 3 ,beta 4 and beta 5 values

array([ 0.16036503,  0.26646915, -0.65980488, -0.41794536, -0.23334452])

In [85]:
df_train_x.columns

Index(['Age', 'Height', 'Smoke', 'Gender', 'Caesarean'], dtype='object')

In [86]:
linereg.intercept_    #Bo value

-11.036315658129148

In [87]:
#MSE

In [88]:
pred_test=linereg.predict(df_test_x)

In [89]:
pred_test

array([10.80268232,  3.12401901,  6.7830582 , 12.39550964, 11.2284463 ,
        7.94808425,  4.92760393,  7.52366119,  9.63852024,  1.55088396,
        9.75553092,  4.7050824 ,  6.99120644,  3.28486759,  8.53625055,
        6.43113769, 12.21545234,  2.16424654,  7.09827764,  3.49418116,
        7.22165631,  3.26469838,  7.03561145,  2.73030945,  9.68340879,
       12.26227507,  8.21841515,  7.49798136, 11.78166352, 11.41652845,
        8.92553125,  4.91129647, 12.39454255, 11.14716464, 10.07577744,
        9.16833171,  8.92802593,  9.60550534,  6.47360852,  4.48397874,
       12.98821947,  6.47360852,  7.13188581,  7.9031957 ,  4.51758691,
        3.79957085, 10.35761311, 11.03603345,  9.32772965,  9.47130368,
        8.46519863,  7.94797453,  3.27452813,  7.38105425,  5.44375122,
       10.21694035,  8.32114106,  7.86958754,  4.19134623,  8.24506206,
        5.56511875, 11.35482934,  6.92854024,  4.67099069, 11.3819598 ,
        6.53820889,  3.39145524, 12.6684565 ,  6.66903235,  8.12958558,
        7.57792211,  6.180976  ,  9.41849339, 11.11452356, 11.48806391,
        8.7784839 ,  6.5372418 ,  2.13856671,  9.00845022,  6.80081629,
       11.6479454 ,  7.64454517,  7.64849048,  8.22344222, 11.64842894,
        8.37540197,  2.54329751,  6.13802163,  8.16463777,  6.0571138 ,
        6.03143397,  4.96266273,  5.06373976,  8.51655828,  9.17566678,
       11.92234289,  9.86762919,  7.3296946 ,  8.05649637,  7.80837197,
        4.84863027,  7.57000037,  9.79899499,  8.95563993,  6.26883848,
        8.15526541, 10.31511612,  7.20534885,  5.8252199 , 10.02006589,
       12.43056183,  9.48712759,  4.95570147,  3.84445279,  6.48491506,
        9.45113447, 12.42718363,  8.77751681,  7.68258219,  7.79709159,
       11.70123923,  7.30111351,  8.66204033,  8.60729587,  6.43065415,
        8.66204033,  3.98319799,  3.08993391, 11.28474451,  3.48770345,
        7.11506865,  7.968737  ,  7.06921961,  9.55809595,  8.35764388,
        9.60357116,  9.20048924, 10.49036414,  7.55079165, 12.00228363,
        7.88734563,  5.97717305,  5.75462537,  7.84439125,  8.13702377])

In [90]:
#error = actual - predicted

err_test= df_test_y - pred_test       #we do evalution on only test data.this error for test data 

# we will build the model on train data but evalution on only test data.

In [91]:
mse=np.mean(np.square(err_test))
mse

1.1480309214949782

In [92]:
#RMSE

In [93]:
rmse=np.sqrt(mse)
rmse

1.0714620485556072

In [94]:
#MAPE

In [95]:
mape=np.mean(np.abs(err_test*100/df_test_y))
mape

16.76299860723945

In [97]:
100-16.76299860723945

83.23700139276055

In [50]:
#comclusion = My model is having 83% accuracy.